body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.arrow-img {
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

/* LOAD SCREEN STYLING */
.load-screen {
  border: 2px solid #000;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.load-screen h1 {
  font-size: 50vh;
  color: white;
  font-family: "Sirin Stencil", cursive;
}

.game-screen {
  display: none;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sirin Stencil", cursive;
}

.game-information {
  display: flex;
  justify-content: space-around;
  /* background-color: orange; */
  color: white;
  align-items: center;
}

#timer {
  color: black;
  border: 2px solid black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: orange;
  height: 50px;
  width: 50px;
}

#sequence-number,
#sequence-score,
#sequence-mistakes,
#sequence-streak {
  background-color: rgb(226, 91, 46, 0.7);
  padding: 0 30px;
  border-radius: 15px;
  color: white;
}

.sequence-images {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 375px) {
  .arrow-img {
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .game-information {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5px;
    font-size: 12px;
    text-shadow: 2px 2px black;
    color: white;
  }

  #sequence-number {
    flex: 20%;
  }

  #sequence-score {
    flex: 40%;
  }
  #sequence-mistakes {
  }
  #timer {
    margin: 0;
  }
  #sequence-streak {
  }
  .game-over-onLoad {
    font-size: 300px;
  }

  .enemy-img {
    height: 300px;
  }
  .enemy-container {
    color: white;
    display: flex;
    align-items: center;
    max-width: 100vw !important;
  }

  /* sorry */
  .game-over-p {
    display: none !important;
  }
  .game-victory-p {
    display: none !important;
  }

  .game-over-title {
    font-size: 10px !important;
  }

  .game-over-title img {
    height: 30px;
    margin: 0 !important;
  }
  td {
    height: 0.5rem;
    font-family: "Rubik", sans-serif;
    font-size: 14px !important;
    position: relative;
    padding: 1rem 1rem !important;
    /* word-break: break-all; */
  }
}

@media (min-width: 376px) and (max-width: 700px) {
  .arrow-img {
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .game-information {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5px;
    font-size: 12px;
    text-shadow: 2px 2px black;
    color: white;
  }

  #sequence-number {
    flex: 20%;
  }

  #sequence-score {
    flex: 40%;
  }
  #sequence-mistakes {
  }
  #timer {
    margin: 0;
  }
  #sequence-streak {
  }
  .game-over-onLoad {
    font-size: 300px;
  }

  .enemy-img {
    height: 300px;
  }
  .enemy-container {
    color: white;
    display: flex;
    align-items: center;
    max-width: 100vw !important;
  }

  /* sorry */
  .game-over-p {
    display: none !important;
  }
  .game-victory-p {
    display: none !important;
  }

  .game-over-title {
    font-size: 10px !important;
  }

  .game-over-title img {
    height: 30px;
    margin: 0 !important;
  }
  td {
    height: 0.5rem;
    font-family: "Rubik", sans-serif;
    font-size: 14px !important;
    position: relative;
    padding: 1rem 1rem !important;
    /* word-break: break-all; */
  }
}

/* -------------ENEMY STYLING ----------------*/
.enemy-img {
  margin-top: 0px;
  width: 70%;
  animation: breathing 3.5s ease-out infinite normal;
}

.enemy-stats {
  width: 30%;
  margin-bottom: 100px;
  background: rgb(226, 91, 46, 0.7);
  display: flex;
  flex-direction: column;

  align-items: center;
}
.enemy-container {
  color: white;
  display: flex;
  align-items: center;
  max-width: 80vw;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.progress {
  background-color: grey;
  border-radius: 20px;
  height: 30px;
  width: 300px;
}

.progress-done {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(
    to left,
    #d21312,
    #ed2b2a,
    #f15a59
  );
  box-shadow: 0 5px 5px -6px gray, 0 3px 7px white;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 0;
  transition: 1s ease 0.3s;
}

.inputContainer {
  display: flex;
  width: 50%;
  justify-content: center;
}

/* -------------LEADERBOARD PAGE ----------------*/

.game-over-screen {
  display: none;
  height: 100vh;
  width: 100vw;

  background-image: url("/images/scoreWallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
  box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.1);
  color: white;
}

tr {
  /* transition: all 0.2s ease-in-out; */
  border-radius: 0.2rem;
  background: linear-gradient(-45deg, #e04e14 0%, #6b1906 74%);
  background-size: 400% 400%;
  animation: gradient 10s ease-in infinite;

  background-color: #7a2830;
}

tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(1) {
  color: #fff;
}

td {
  height: 0.5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
  /* word-break: break-all; */
}

th {
  height: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.name {
  text-align: center;
  font-size: 1.2rem;
}

.points {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.sequences {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.points:first-child {
  width: 10rem;
}

#leaderboard {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.table-header {
  /* background: linear-gradient(-45deg, #7a2830 0%, #de3e56 74%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite; */

  /* background-color: #7a2830; */
}

.table-header th {
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.game-over-information-header {
}

.game-over-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-45deg, #e04e14 0%, #6b1906 74%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  background-color: #7a2830;
  /* margin-top: 30px; */
  margin-bottom: 30px;
  color: white;
  letter-spacing: 0.2cm;
  font-weight: bolder;
  font-size: 20px;
}

.game-over-title img {
  height: 90px;
  margin-left: 30px;
  margin-right: 30px;
}

.game-over-information-header h1 {
  color: white;
}

.player-gameplay-information-table {
  margin-bottom: 30px;
}

.leaderboard-form {
  display: flex;
  justify-content: space-around;
}

.submit-btn {
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.submit-btn:hover {
  background-color: coral;
  transition: all 0.5s ease-in-out;
}

/*-----GETTING DAMAGED ANIMATION*/

#doom-damage {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.do-damage {
  background-color: red;
  animation: 0.4s doom-damage forwards;
}

@keyframes doom-damage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.damage-shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.enemy-hp {
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*-----GAME OVER ON LOAD-------*/
.game-over-onLoad {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: red;
  background-image: url("/images/gameOver.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-over-text {
  font-size: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  animation: fadeIn 3s linear;
}

.game-over-p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 0.1cm;
  color: white;
  margin-right: 50px;
  margin-left: 50px;
  animation: fadeIn 5s linear;
  font-family: "Sirin Stencil", cursive;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#leaderboard-navigate-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  margin-top: 80px;
}

#leaderboard-navigate-btn:hover {
  cursor: pointer;
}

/*------ GAMER VICTORY ON LOAD -------*/
.game-victory-onLoad {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  background-image: url("/images/victory.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-victory-text {
  font-size: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  animation: fadeIn 3s linear;
}

.game-victory-p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 0.1cm;
  color: white;
  margin-top: 26rem;
  margin-right: 50px;
  margin-left: 50px;
  animation: fadeIn 5s linear;
  font-family: "Sirin Stencil", cursive;
}

#leaderboard-victory-navigate-btn {
  margin: 0;
  position: relative;
  margin-top: 30px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}
#leaderboard-victory-navigate-btn:hover {
  cursor: pointer;
}

/*----RETURN TO MAIN MENU BUTTON-----*/

.buttonMenu {
  min-width: 300px;
  min-height: 60px;
  font-family: "Sirin Stencil", cursive;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #ff8b28;
  background: linear-gradient(
    90deg,
    rgba(252, 158, 63, 1) 0%,
    rgba(242, 119, 31, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(252, 158, 63, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.buttonMenu::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff8b28;
  box-shadow: 0 0 60px rgba(242, 119, 31, 1, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.buttonMenu:hover,
.buttonMenu:focus {
  color: #313133;
  transform: translateY(-6px);
}

.buttonMenu:hover::before,
.buttonMenu:focus::before {
  opacity: 1;
}

.buttonMenu::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid white;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.buttonMenu:hover::after,
.buttonMenu:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.a-flex {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
